body
{
  background-image: url("../images/joinclubbg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.findform
{
	font-family: 'Poppins';
  height:30%;
  width:60%;
  border-radius: 20px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 3%;
  padding:2% 2%;
}
input[type=text]
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 60%;
  height:5%;
  padding:2% 2% 4% 2%;
  font-size: 100%;
  border-radius: 30px;
  font-family: 'Poppins';
}
input[type=submit]{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  margin-bottom: 0%;
  width: 90%;
  height:5%;
  background-color: #ffe5cc;
  color: black;
  padding:2% 2% 6% 2%;
  text-align: center;
  font-size: 100%;
  border:none;
  border-radius: 30px;
  font-family: 'Poppins';
}

input[type=submit]:hover {
  background-color: #ffbd80;
}
